<%#
  Copyright 2018 Rosanna Gray
  Copyright 2019 Matthew B. Gray
  Copyright 2019 AJ Esler

  Permission is hereby granted, free of charge, to any person obtaining a copy of
  this software and associated documentation files (the "Software"), to deal in
  the Software without restriction, including without limitation the rights to
  use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
  the Software, and to permit persons to whom the Software is furnished to do so,
  subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
  FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
  COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
  IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
  CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
%>

<h1>Review <%= @my_offer.membership %> membership #<%= @reservation.membership_number %></h1>
<section class="l-section">
  <% if support_signed_in? %>
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="l-panel support-pane">
          <h2>Support Actions</h2>
          <p>
            <%= link_to "Transfer membership", new_reservation_transfer_path(reservation_id: @reservation) %>
            to another user
          </p>

          <p>
            <%= link_to "Set membership", reservation_set_memberships_path(reservation_id: @reservation) %>
            to any level that's been in our system
          </p>

          <p>
            <%= link_to "Credit account", new_reservation_credit_path(reservation_id: @reservation) %>
            with payment made via cash or cheque
          </p>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="l-panel support-pane">
          <h2>Related Notes</h2>
          <% if @notes.none? %>
            No notes for this membership
          <% else %>
            <% @notes.eager_load(:user).order(created_at: :desc).each do |note| %>
              <p>
                <strong><%= note.created_at %> - <%= note.user.email %></strong>
                <br><%= note.content %>
              </p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-12 col-lg-4">
      <div class="l-panel l-panel-m-membership-types">
        <div class="l-v-spacing">
          <%= render("reservation_card", reservation: @reservation) do %>
            <% show_links(@reservation).each do |link| %>
              <p><%= link %></p>
            <% end %>
          <% end %>
        </div>

        <% if @reservation.membership.price > 0 || @reservation.charges.any? %>
          <div class="l-v-spacing">
            <h2 class="h4">Payment History</h2>
            <ul class="list-group text-dark list-group-flush mt-3 mb-4">
              <% if @reservation.charges.successful.none? %>
                <li class="list-group-item list-group-item-danger">
                  We have not received payments for this membership! You may loose this membership if you don't make
                  payments towards it.
                </li>
              <% end %>

              <% @reservation.charges.order(:created_at).find_each do |charge| %>
                <li class="list-group-item">
                  <strong><%= charge.created_at %></strong>
                  <br><%= charge.comment %>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <% if @reservation.orders.length > 1 %>
          <div class="l-v-spacing">
            <h2 class="h4">Upgrade History</h2>
            <ul class="list-group text-dark list-group-flush mt-3 mb-4">
              <% @reservation.orders.eager_load(:membership).order(:created_at).find_each do |order| %>
                <li class="list-group-item">
                  <%= order.membership %> membership held
                  <br>from <%= fuzzy_time(order.active_from) %>
                  <% if order.active_to %>
                    <br>to <%= fuzzy_time(order.active_to) %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="l-v-spacing">
          <h2 class="h4">Membership Transfer</h2>

          <p>
            We are happy to fully transfer a membership to another person.
            The person wanting to transfer, and the person receiving the transfer need to contact us at
            <a href="email:registrations@conzealand.nz">registrations@conzealand.nz</a>
          </p>

          <p>
            The transfer is of all rights that go along with that membership. If any of those rights have been exhausted,
            eg. by nominating or voting in the Hugos, then those rights are not available anymore.
          </p>

          <p>
            If the transferer wants to then be a supporting member in order to get rights for Hugo nominations, voting
            and Site Selection, then they will need to take out a fresh supporting membership.
          </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-8">
      <div class="l-panel">
        <h2>Review your details</h2>
        <%= render "detail_form" %>
      </div>
    </div>
  </div>
</section>
