<%#
  Copyright 2019 Matthew B. Gray

  Permission is hereby granted, free of charge, to any person obtaining a copy of
  this software and associated documentation files (the "Software"), to deal in
  the Software without restriction, including without limitation the rights to
  use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
  the Software, and to permit persons to whom the Software is furnished to do so,
  subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
  FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
  COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
  IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
  CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
%>
<h1>Transferring Membership: Select transfer email</h1>
<section class="l-section">
  <div class="row">
    <div class="col-12 col-md-12">
      <div class="l-panel">
        <h2>
          From
          <%= @detail %>
          &lt;<%= @reservation.user.email %>&gt;
        </h2>

        <p>
          This process will send email to <%= @detail || @reservation.user.email %> and the new email address.
        </p>

        <p>
          Users listed here would have signed in at least once so we know they have access to their account
        </p>

        <table class="js-data-table table table-hover table-striped table-dark table-borderless table-responsive-lg">
          <thead>
            <th>Email</th>
            <th>Membership Details</th>
          </thead>
          <tbody>
            <%= User.eager_load(active_claims: :detail).find_each do |user| %>
              <tr>
                <td><%= link_to user.email, reservation_transfer_path(user.email, reservation_id: @reservation)  %></td>
                <td><%= user.active_claims.map(&:detail).map(&:to_s).to_sentence %></td>
              </p>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
