<%#
  Copyright 2019 Matthew B. Gray

  Permission is hereby granted, free of charge, to any person obtaining a copy of
  this software and associated documentation files (the "Software"), to deal in
  the Software without restriction, including without limitation the rights to
  use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
  the Software, and to permit persons to whom the Software is furnished to do so,
  subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
  FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
  COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
  IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
  CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
%>
<h1>Transferring Membership: Confirm transfer</h1>
<section class="l-section">
  <div class="row">
    <div class="col-12 col-md-12">
      <div class="l-panel">
        <%= form_for(@transfer, method: :patch, url: update_transfer_path(@transfer)) do |f| %>
          <h2>#<%= @transfer.reservation.membership_number %> <%= @transfer.detail %></h2>
          <p>Transferring from <%= @transfer.from_user.email %></p>
          <p>Transferring to <%= @transfer.to_user.email %><p>

          <div class="form-options">
            <%= f.check_box(:copy_details, class: "form-control form-control-m-checkbox", id: "copy_details") %>
            <label for="copy_details">Keep membership details? This includes name, badge name, and address</label>
          </div>

          <fieldset class="l-v-spacing">
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="l-v-spacing">
                  <%= link_to "Go back to transfer list", new_reservation_transfer_path, class: "btn btn-m-full-width" %>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="l-v-spacing">
                  <input type="submit" value="Email users and transfer membership" class="btn btn-m-full-width">
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
