<!doctype html>

<%#
  Copyright 2018 Rosanna Gray
  Copyright 2019 Matthew B. Gray
  Copyright 2019 Jen Zajac (jenofdoom)

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
%>

<html lang="en">
<head>
  <title>CoNZealand</title>
  <%= csrf_meta_tags %>

  <%#
    TODO move these to the bottom of <body>
    And move inline scripts to assets
  %>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" integrity="sha384-rgWRqC0OFPisxlUvl332tiM/qmaNxnlY46eksSZD84t+s2vZlqGeHrncwIRX7CGp" crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js" integrity="sha384-uiSTMvD1kcI19sAHJDVf68medP9HA2E2PzGis9Efmfsdb8p9+mvbQNgFhzii1MEX" crossorigin="anonymous"></script>
  <script src="https://checkout.stripe.com/checkout.js"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" integrity="sha384-EkHEUZ6lErauT712zSr0DZ2uuCmi3DoQj6ecNdHQXpMpFNGAQ48WjfXCE5n20W+R" crossorigin="anonymous">

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= favicon_link_tag %>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="CoNZealand is a convention for science fiction enthusiasts.">
  <meta name="keywords" content="conzealand, science fiction, convention, meet up, sci-fi" />
</head>

<body class="<%= "api-test-keys" if $stripe_test_keys %>">
  <%# TODO Style this to flash or something dramatic %>
  <% if support_signed_in? %>
    <div class="alert alert-danger show fixed-top" role="alert">
      NOTICE: You are logged in as support
      <%= button_to(
        "Logout of Support (#{current_support.email})",
        destroy_support_session_path,
        action: :delete, method: :delete, class: "button"
      ) %>
    </div>
  <% end %>

  <header>
    <div class="container l-v-spacing" role="banner">
      <a href="<%= root_path %>" class="logo">
        <%= image_tag "conzealand-logo.svg", alt: "CoNZealand", class: "img-responsive" %>
      </a>
    </div>

    <div class="container">
      <%= render "layouts/alerts" %>
    </div>

    <%= render "/layouts/menu" %>
  </header>

  <div class="l-main" role="main">
    <div class="container l-wrapper">
      <%= yield %>
    </div>
  </div>

  <footer role="contentinfo">
    <div class="container l-wrapper">
      <p>
        We outline how we use your personal information in our
        <a href="https://conzealand.nz/privacy-policy/" target="_blank" rel="noopener">Privacy Policy</a>
      </p>
      <p>
        By using our members area, you are agreeing to follow our
        <a href="https://conzealand.nz/about-conzealand/policies-and-expectations/" target="_blank" rel="noopener">Terms of Service</a>
      </p>
      <p>&copy; CoNZealand <%= Date.today.year %>. Contact <a href="mailto:registration@conzealand.nz">registration@conzealand.nz</a></p>
    </div>
  </footer>
</body>
</html>
